html,
body {
    height:100%;
    font-size:16px;
    width:100%;
}

html {
    display:table;
}

body {
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    display:table-cell;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    vertical-align:middle;
}

h1 {
    font-size:2em;
    font-weight:300;
    margin:0px;
    padding:0px;
    text-align:center;
}

img {
    display:block;
    margin:0px auto;
    margin-bottom:-20px;
    width:400px;
    max-width:100%;
}

.status {
    background-color:#333333;
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    display:block;
    font-size:1em;
    margin:5px auto;
    margin-top:10px;
    padding:2px 4px;
    text-align:center;
    width:225px;
    max-width:225px;
}

.status.complete {
    background-color:#4B946A;
}

.hide {
    display:none;
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    -webkit-animation:fade 3000ms infinite;
}
